body {
    background-color: black;
    
}
.navbar{
    background-color: transparent !important; 
}
.navbar .navbar-brand{
    color: white;
    font-weight: bold;
    font-size:25px;
    float: left;

}
.navbar .navbar-nav{
    margin: 0 auto;
}
.navbar .nav-item a{
    color:white !important;
    font-size: 25px;
    margin-left:200px;
    font-weight: bold;
}
.navbar .nav-item a:hover{
    background: rgba(0,0,0,0);
	color: #1c1c1d;
	box-shadow: inset 0 0 0 3px #c6c9c9;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: rgb(49, 49, 49);
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 400px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }
    .h-100{
        float:right;
    }
    .paalogo{
        float:left;
    }
    .jumbotron{
        width: 100%;
        height:auto;
        float:left;
        background-color: black;
        background-image: url(https://live.staticflickr.com/1779/42263456220_a2d79e5b49_b.jpg);
        background-size: cover;
    }
    .clothimg{
        width: 100%;
        height: auto;
        
    }

    
.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    width: [width of img];
    color:white;
    font-weight:bolder;
    font-size:20px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.ATB{
    padding:20px;
    background-color: rgb(49, 49, 49);
    color: white;
    font-weight:bolder;
    font-size:20px;
    float:left;
    width:100%;
    text-align: center;
}
.ATB:hover{
    background: rgba(0,0,0,0);
	color: #ffffff;
    box-shadow: inset 0 0 0 3px #151616;
}

.btn {
    padding: .5rem 1rem;
    background: #006669;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
  }

  .btn-big {
    padding: .4rem 1.3rem;
    line-height: 1.3rem;
  }

  .footer {
    background-color: #303036;
    color: white;
    height: 300px;
    position: relative;
  }

  .footer .footer-content {
    height: 350;
    display: flex;
  }

  .footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
  }

  .footer .footer-content h1,
  .footer .footer-content h2 {
    color: white;
    font-size: 15px;
  }

  .footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    color: white;
  }

  .footer .footer-content .links ul a:hover {
    margin-left: 15px;
    transition: all .3s;
  }

  .footer .footer-content .contact-form .contact-input {
    background: #272727;
    color: white;
    margin-bottom: 5px;
    line-height: 1.5rem;
    padding: .7rem 1.2rem;
    border: none;
  }

  .footer .footer-bottom {
    background-color: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
  }